.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 10;
  border-bottom: 1px solid var(--background-second);
  background-color: var(--background-default);

  position: fixed;
  width: 100%;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      height: 32px;
      margin-top: 8px;
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .links {
      display: flex;
      align-items: center;

      .linkSmallButton {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid var(--background-second);
      }

      .linkItem {
        height: 35px;
        border-radius: 8px;
        background-color: var(--background-default);
        padding: 0 10px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        transition: all .2s;

        &:hover:not(.linkItemActive) {
          text-decoration: underline;
        }

        &Text {
          font-size: 13px;
          margin-top: 2px;
        }
      }

      .linkItemActive {
        padding: 0 20px;
        //margin: 0 20px;
        background-color: var(--main-default);

        & .linkItemText {
          font-size: 13px;
          color: var(--text-inverse);
          font-family: Font-Medium, sans-serif;
        }
      }

      .line {
        background-color: var(--background-second);
        width: 1px;
        height: 25px;
        margin: 0 20px;
      }
    }
  }
}

.dropdown {
  display: none;
  background-color: var(--background-default);
  padding: 25px;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: calc(6px + var(--header-height));
  box-shadow: 0 2px 14px 0 #00000026;

  &Item {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s;

    &Text {
      margin-top: 2px;
      transition: color .2s;
    }
  }

  &Visible {
    display: flex;
  }
}

.langDropdown {
  left: 84px;

  &Item {
    width: 205px;

    &Active {
      background-color: var(--main-default);

      & .dropdownItemText {
        color: var(--text-inverse);
      }
    }

    &:hover:not(.langDropdownItemActive) {
      background-color: var(--background-light);
    }
    &:active:not(.langDropdownItemActive) {
      background-color: var(--background-second);
    }
  }
}

.accountDropdown {
  right: 6px;

  &Item {
    width: 213px;

    &:hover {
      background-color: var(--main-default);

      & .dropdownItemText {
        color: var(--text-inverse);
      }
    }
  }
}

.floatingMenu {
  display: none;
  position: absolute;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  top: var(--header-height);
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--background-default);
  padding: 13px 15px;

  &Visible {
    display: flex;
  }

  .linksList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Item {
    height: 45px;
    padding: 0 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-light);
  }

  &ItemActive {
    background-color: var(--main-default);

    & p {
      color: var(--text-inverse);
    }
  }
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--header-height));
  top: var(--header-height);
  left: 0;
  background-color: rgba(8, 27, 77, 0.7);
  transition: opacity .2s;

  &Visible {
    visibility: visible;
    opacity: 1;
  }
}

/*@media (max-width: 900px) {
  .header {
    height: 52px;
  }

  .overlay {
    top: 52px;
    height: calc(100vh - 52px);
  }
}*/
